* {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
//    font-family: 'Open Sans', sans-serif;
    color: #2b2b2b;
}

/*colors*/
// #192c70 - niebieski
// #2b2b2b - text
// #a1a1a0 - szary

nav {
    display: flex;
    justify-content: center;
    background-color: #D7D7D7;
    -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
    margin: 0 calc((100% - 960px)/2);
    button {
        background-color: #000;
    }

    img {
        height: 60px;
    }

    img:hover {
        cursor: pointer;
    }

    #navbarSupportedContent {
        
        ul {

            width: calc(100% - 48px);

            a {
                font-size: 18px;
                color: #2b2b2b;
                display: inline-block;
                transition: 0.3s all;
            }

            a:after {
                content: '';
                width: 0px;
                height: 1px;
                display: block;
                background-color: #000;
                transition: 0.3s all;
            }

            a:hover:after {
                width: 100%;
            }

            li {
                transition: 0.3s all;
            }
        }
    }

}

//nav parts on left and right
.nav-sides-items {
    position: fixed;
    height: 86px;
    width: calc((100% - 960px)/2);
    top: 0;
    background-color: #D7D7D7;
}

#nav-part-left {
    left: 0;
    z-index: 1031;
}
#nav-lower-part-left {
    left: 0;
    z-index: 3;
    -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
}

#nav-part-right {
    right: 0;
    z-index: 1031;
}

#nav-lower-part-right {
    right: 0;
    z-index: 3;
    -webkit-box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.8);
}

//header
header {
    display: flex;
    justify-content: center;
    overflow: hidden;

    #image-container {
        position: relative;
        margin-top: 80px;
        width: 960px;

        img {
            transform: translateX(-25%);
        }

        #hero-quick-contact-box {
            position: absolute;
            top: 50%;
            right: 15%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            width: 320px;
            transform: translateY(-20%);
            color: #fff;

            h1 {
                font-weight: 800;
                font-size: 24px;
                width: 100%;
            }

            h2 {
                font-size: 24px;
                width: 100%;
            }

            a {
                color: #fff;
                padding: 10px 20px;
                border: 2px solid #fff;
                margin-top: 25px;
                text-decoration: none;
                transition: 0.3s all;

                i {
                    margin-left: 10px;
                    color: #fff;
                }
            }

            a:hover {
                background-color: #fff;
                color: #000;

                i {
                    color: #000;
                }
            }
        }
    }
}

//Sections
section {
    padding-top: 100px;

    span {
        font-weight: 800;
    }
}

#about {
    #about-section-box {
        width: 960px;
        padding: 0 200px;

        h3 {
            font-weight: 800;
            font-size: 18px;
        }


    }
}

#practices {

    #title-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        align-items: center;
        overflow: hidden;
        position: relative;

        #desk-image {
            display: inline-block;
            height: 100%;
            width: 100%;
            position: relative;
            background-image: url('../resources/background-practices.JPG');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            #mask {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }

        h3 {
            font-weight: 800;
            font-size: 24px;
            position: relative;
            z-index: 1;
        }
    }

    #practises-section-box {
        width: 960px;

        .prac-box {
            padding: 50px 50px 0 50px;
            font-size: 14px;
            opacity: 0;

            h3 {
                font-size: 18px;
                font-weight: 800;
                width: 100%;
                border-bottom: 1px solid #2b2b2b;
            }
            
            ul {
                padding-left: 20px;
                list-style: square;
            }
        }
    }
}

#mediations {
    display: flex;
    justify-content: center;

    #med-title-container {
        width: 960px;
        height: 100px;
        border-bottom: 2px solid #000;
        border-top: 2px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        h3 {
            text-align: center;
            font-weight: 800;
        }
    }

    #mediations-box {
        width: 960px;

        p {
            padding: 0 100px;
            opacity: 0;
        }
    }

}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: #a1a1a0;
    padding: 50px 0;

    #contact-container {
        width: 960px;

        p {
            text-align: center;
            color: #fff;
            margin: 0;

            a {
                text-decoration: none;
                color: #fff;
                transition: 0.3s all;
            }

            a:hover {
                color: #000;
            }
        }

        p:nth-child(4),
        p:nth-child(5) {
            margin: 20px;
        }

        p:nth-child(6) {
            color: #000;
            font-weight: 800;
            display: block;
            width: 700px;
            margin: 0 auto 50px auto;

        }

        h3 {
            text-align: center;
            font-weight: 800;
            margin-bottom: 50px;
        }

        img {
            display: block;
            margin: 0 auto;
        }
    }
}